#title_div{
    margin-left : auto;
    margin-right : auto;
    display : block;
    width : 100%;
    text-align: center;
}

body{
    text-align: center;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #636260;
}

@font-face{
    font-family: ScriptinaPro;
    src: url(fonts/scriptina_pro.otf);
}

#title_div{
    font-family: ScriptinaPro;
    font-size: 50px;
    color: #ffffff;
    background-color:#000000;
    font-weight:bold;
    height:120px;
    width:90%;
    //font-family: Arial;
    //src: url(fonts/scriptina_pro.otf);
}

#menu_div{
    position:relative;
    width: 400px;
//    height: 800px;
    margin-left: auto;
    margin-right: auto;
}

.block{
    z-index:-1;
    position:absolute;
    width:100%;
    height:110%;
    top:0;
    left:0;
    background: #636260;
    opacity : 0.8;
    border-radius:25px;
}

.player_colour{
  width : 50px;
  height : 50px;
  display : table-cell;
  background-color : #6b7fc8;
}

.player_entry_div{
    margin-left : auto;
    margin-right : auto;
    text-align : center;
    display : table;
}

.player_entry{
    display : table-cell;
    vertical-align : middle;
}


.score_box{
    vertical-align : middle;
    display : table-cell;
    padding : 15px;

}


#map_menu{
    margin-left : auto;
    margin-right : auto;
    display : block;
    text-align : center;
    height : 300px;
    width : 300px;
    overflow : auto;
}

.map_menu_entry.selected{
    background-color : #ff8571;
}

.map_menu_entry:not(.selected):hover{
    background-color : yellow;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #949494), color-stop(1, #2b2b2b) );
	background:-moz-linear-gradient( center top, #949494 5%, #2b2b2b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#949494', endColorstr='#2b2b2b');
	background-color:#949494;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:3px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:Arial Black;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:49px;
	line-height:49px;
	width:170px;
	text-decoration:none;
	text-align:center;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2b2b2b), color-stop(1, #949494) );
	background:-moz-linear-gradient( center top, #2b2b2b 5%, #949494 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b', endColorstr='#949494');
	background-color:#2b2b2b;
}.classname:active {
	position:relative;
	top:1px;
}

